.left{
 background-color:#2c2c2d !important;
 /*display: flex !important;
 flex-wrap: wrap !important;*/
 overflow-y: auto !important;
 height:1000px !important;

}

#right{
	background-color: #fff!important;

}



.border{
    border-color: #b9b9b9 !important;

}

/*.btn.btn-trial {

  border-radius: .2rem !important;
  white-space: normal !important;
 font-size: 0.7rem !important;
width: 135px  !important;
height: 63px  !important;
line-height: 1.5 !important;
margin-top: 10px !important;
word-wrap: break-word !important;
    margin-left: 5px !important;
 }
 */
 .btn{

padding: 0.7rem 0.5rem !important;
	font-size: .7rem !important;
	word-wrap: break-word !important;
	white-space: normal !important;
 }

 .pad {
   padding: 5px;

  }

.full {
     width: 100% !important;
height: 55px !important;
    }

.table td, .table th {
      font-size: 11px !important;
    }
.table td {
        text-align:: inherit !important;
        }
#total{
  font-size: 16px !important;
  color:palegreen !important;
}

.table-light, .table-light > td, .table-light > th {

    border-top: 1px solid #fcfcfc !important;

}
.table-dark, .table-dark > td, .table-dark > th {

}
.btn.payment-btn {
    padding: 0.2rem 4rem !important;
    font-size: 1.3rem !important;
    word-wrap: break-word !important;
    white-space: normal !important;
    color:white!important;
    border-color:#3A539B!important;
    background-color: #3A539B!important;
    border-radius: 1.5rem;
}

.row.items-table{
  height:740px !important;

  overflow-y: auto !important;
}
.modal-header {
    background-color: lightgrey;
}

.btn.btn-savemem-modal, .btn.btn-close-modal{
    border-radius: 1.5rem;
    font-size: 1rem !important;
    padding: .375rem .75rem !important;
}
#table-modal td, #table-modal th {
    font-size: 14px !important;
}
