body{
  background-color: #fcfcfc !important;
}

/*pos css----------------*/
}
.border.md5col{
  border-color:#c9c9c9  !important;

}

.md5colinside{
  margin-top:10px !important;

}

.btn{
  padding: 1rem 3rem !important;
    font-size: 1.25rem !important;
    line-height: 1.5 !important;
    border-radius: .3rem !important;
    margin-top:10px !important;
    margin-left:7px !important;
    background-color: #BDC3C7;
    color: black;

}
